/*
 * -160207
 */

.footnotes{
  font-size: 12px;
}
.footnotes li p{
  margin-bottom: 1px;
}

.tag_cloud_filter{
  border-radius: 1em;
}
#tag_cloud {
    margin: 20px 0 15px 0
}

#tag_cloud a, #tag_cloud .tag {
    font-size: 18px;
    /*border: none;*/
    line-height: 28px;
    margin: 0 2px;
    margin-bottom: 8px
}

#tag_cloud a:hover, #tag_cloud .tag:hover, #tag_cloud a:active, #tag_cloud .tag:active {
    background-color: #000000 !important
}

/* add tags support */
/* 参考来自 Codeboy.me */
.tags {
  margin-bottom: -5px;
}
.tags a,
.tags .tag {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 999em;
  padding: 0 10px;
  color: #ffffff;
  line-height: 24px;
  font-size: 12px;
  text-decoration: none;
  margin: 0 1px;
  margin-bottom: 6px;
}
.tags a:hover,
.tags .tag:hover,
.tags a:active,
.tags .tag:active {
  color: white;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

/*  Back Top Button  */
/*  参考来自 cnfeat.com -160201 */
#back-top {
  position: fixed;
  bottom: 10px;
  right: 60px;
  z-index: 9998;
}
#back-top a {
  width: 54px;
  height: 54px;
  display: block;
  background: #ddd url("/img/back_top_arrow.png") no-repeat center center;
  background-color: #aaa;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover {
  background-color: #777;
}
/*  Back Top Button  End */

/* home title to img -160305 */
 a.navbar-brand {
  background-image: url("/img/biu-circle.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 50px;
}
