---
layout: page
title: Timeline
description: "暮然回首"
header-img: "/img/banners/plane_park_on_the_right.jpg"
---

<!-- 时间轴列表集合 -->
<div id="post-list">
{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != markdate %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h2 id="{{post.date | date: "%Y"}}">「{{ currentdate }}」</h2>
    <ul class="post-list">
    {% assign markdate = currentdate %}
  {% endif %}

      {% assign currentmonth = post.date | date: "%B" %}
      {% if currentmonth != markmonth %}
      <h4 id="{{post.date | date: "%Y%m" }}">「{{ currentmonth }}」</h4>
        {% assign markmonth = currentmonth %}
      {% endif %}

      <li>
        <a href="{{ post.url | prepend: site.baseurl }}">
            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%Y.%m.%d" }}</time> - {{ post.title }}
        </a>
      </li>

  {% if forloop.last %}</ul>{% endif %}

{% endfor %}

{% include search.html %}